.rootFormContainer {
  height: fit-content;
  
  padding: 1.5rem;

  .title {
    font-weight: 700;
  }

  .formContainer {
    max-height: 100%;
    display: flex;
    flex: 1;

    gap: 1.5rem;

    .paymentDetailsForm {
      .feeModeContainer {
        .checkboxContainer {
          display: flex;
          align-items: center;
          justify-content: center;
  
          margin: 0;
          padding: 0;
  
          .checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
