.container {
  height: 100%;
  
  display: flex;
  flex: 1;

  padding: 1.5rem;

  .title {
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex: 1;

    align-items: center;
    justify-content: center;

    .result{
      :global .ant-result-title {
        font-weight: 700;
      }

      :global .ant-result-subtitle {
        color: var(--ant-color-text-base);
        font-size: 1rem;
      }
    }
  }
}